

.header{width:100%;
        margin-top: 10px;
        text-align: center;


}
.header h1{ text-align: center;}
.logo{float: left;
      width: 150px;
      height: 50px;
      border-radius: 0px 20px 20px;
            
}
.section{
         
       height: 400px;
       margin-left: 140px;
        margin-top: -300px;
  }
.thumbnail{width: 200px;
            height: 300px;
}

.container1{ height: 400px;
             width:1000px;
              margin-left: 180px;


}
.videos{

      padding-right:40px;
}
.Serif{font-family: serif;
      color: cornflowerblue;

}
.Serif h4{color: orange;}
.sanserif h4{color: orange;}
.monospace h4{color: orange;}

.sanserif{
      font-family: sans-serif;
        color: cornflowerblue;

}
.monospace{
     font-family: monospace;
       color: cornflowerblue;

}
.audio{width: 1000px;
       margin-left: 180px;
}

.footer{height: 200px;}
marquee{color: darkorange;}

.top{float: right;}


ul.navigation{
             list-style: none;
             display: block;
           margin-left: 700px;

}
ul.navigation li{float: left;
                display: block;
                padding: 10px;
           
                
}

ul.navigation li a{display: block;
                   text-decoration:none;
                   
}
ul.navigation li a:hover{background-color: lightgray;}

h3.menu{font-family: serif;
        text-transform: uppercase;
        text-decoration: underline;
}