

.header{width:100%;
        margin-top: 10px;
}

.main{float: left;
      margin-left: 500px;
      width:500px;
      background-color: red;
}
.section{
         
       height: 500px;
       margin-left: 140px;
        margin-top: -300px;
  }
